html
  head
    title='Moe Counter!'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')
    link(rel='stylesheet', href='style.css')
  body
    h2 如何使用？

    h4 SVG访问地址
    code #{site}/get/@:name

    h4 图片地址
    code &lt;img src="#{site}/get/@:name" alt=":name" />

    h4 Markdown
    code ![:name](#{site}/get/@:name)

    h2 eg:
      <img src="#{site}/get/@index" alt="Moe Count!" />

    h2 更多主题：
    details
      h5 asoul
      <img src="#{site}/get/@demo?theme=asoul" alt="Moe Count!" />
      h5 moebooru
      <img src="#{site}/get/@demo?theme=moebooru" alt="Moe Count!" />
      h5 moebooru-h
      <img src="#{site}/get/@demo?theme=moebooru-h" alt="Moe Count!" />
      h5 rule34
      <img src="#{site}/get/@demo?theme=rule34" alt="Moe Count!" />
      h5 gelbooru
      <img src="#{site}/get/@demo?theme=gelbooru" alt="Moe Count!" />
      h5 gelbooru-h
      <img src="#{site}/get/@demo?theme=gelbooru-h" alt="Moe Count!" />

    h3 工具
    .tool
      code #{site}/get/@
      input#name(type='text', placeholder=':name', style='display: inline-block; width: 80px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code ?theme=
      select#theme(style='display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;')
        option(value='asoul') asoul
        option(value='moebooru') moebooru
        option(value='moebooru-h') moebooru-h
        option(value='rule34') rule34
        option(value='gelbooru') gelbooru
        option(value='gelbooru-h') gelbooru-h
      button#get(style='margin: 10px 0;', onclick='_evt_push("click", "normal", "get_counter")') Get
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var name = document.getElementById('name'),
              themeEl = document.getElementById('theme')
          var text = name.value ? name.value.trim() : ''
          var theme = themeEl.value || 'moebooru'
          if(!text) {
            alert('请输入name')
            return
          }

          img.src = '#{site}/get/@' + text + '?theme=' + theme
        })
